# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# Coverage / Tests
# =========================
coverage/

# =========================
# Android
# =========================
android/.gradle/
android/app/build/

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =========================
# Logs / System
# =========================
*.log
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.class
*.pyc
*.swp
.history
.svn/
.swiftpm/
migrate_working_dir/
